<!DOCTYPE html>
<html lang="en" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{_layout}">

<body>

 <div layout:fragment="content">

<div id="main" class="container-fluid">

  <h2 class="form-heading"> Employee Details</h2>
  <p></p>
  
  <form  th:object="${employee}" th:method="DELETE">
  
   <div class="row justify-content-center">
 		 <div class="form-group col-4" >
  			<label id="lbl_employeeCode" class="control-label">Employee Code</label>
  		 </div>
   		 <div class=" col-4">
  			 <input id="employeeCode" type="number" th:field="${employee.employeeCode}" disabled="disabled" class="form-control">
   		</div>
  	</div>
  	
    
     <div class="row justify-content-center">
    <div class="form-group col-4">
    <label for="lbl_employeeNameEng" id="lbl_employeeNameEng" class="control-label">Employee Name</label>
    </div> 
    <div class=" col-4">
    <input id="employeeNameEng" name="employeeNameEng" type="text" disabled="disabled" th:field="${employee.employeeNameEng}" class="form-control" >
    </div>
    </div>
    
    <div class="row justify-content-center">
    	<div class="form-group col-4">
    		<label for="lbl_designationEng" id="lbl_designationEng" class="control-label">Designation</label>
   		 </div> 
    	<div class=" col-4">
    	<input id="designationEng" name="designationEng" type="text" disabled="disabled" th:field="${employee.designationEng}"   class="form-control">
    	</div>
    </div> 
     <div class="row justify-content-center">
    	<div class="form-group col-4">
    		<label for="lbl_districtId" id="lbl_districtId" class="control-label">District</label>
   		 </div> 
    	<div class=" col-4">
    	
 			<input id="districtId" name="districtId" type="text" disabled="disabled" th:field="${employee.districtId.districtNameEng}"  class="form-control">
    
    	</div>
    </div> 
     <div class="row justify-content-center">
    	<div class="form-group col-4">
    		<label for="lbl_postingFromDate" id="lbl_postingFromDate" class="control-label">Posting From Date</label>
   		 </div> 
    	<div class=" col-4">
    	<input id="postingFromDate" name="postingFromDate" type="date" disabled="disabled" th:field="${employee.postingFromDate}"  class="form-control">
    	</div>
    </div> 
     <div class="row justify-content-center">
    	<div class="form-group col-4">
    		<label for="lbl_postingToDate" id="lbl_postingToDate" class="control-label">Posting To Date</label>
   		 </div> 
    	<div class=" col-4">
    	<input id="postingToDate" name="postingToDate" type="date" disabled="disabled" th:field="${employee.postingToDate}"  class="form-control">
    	</div>
    </div> 
   
    <div class="row justify-content-center">
    <div class=" col-sm-12 text-center">
    
   	  <button type="button" name="Delete" value="Delete" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal1"> Delete </button>
 
     <a th:href="@{/employeelist}" class="btn btn-primary btn-md center-block"> Cancel </a>
     
     </div>
     </div>
    
   <div>
    <th:block th:replace="_employeeDeleteModal ::  modal(id ='exampleModal1',employeeCode = ${employee.employeeCode}) ">modal</th:block>
    <!-- In Case of any mismatch put employee.get().employeeCode in above code -->
   </div>
     
 </form>
    
  
  
  </div>
</div>

     
</body>

</html>