<!DOCTYPE html>
<html lang="en" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{_layout}">

<body>

<div layout:fragment="content">
  <p><a th:href="@{/ViewReport}" id="addbtn" class="btn btn-primary "> <span class="addfolder"><i class="fa fa-folder"></i></span>Report</a></p>
  <h2 class="form-heading">Report List</h2>    
    <div>
        <table class="table table-striped table-bordered" style="width: 100%;">
            <thead >
                <tr>
                    
                    <th>Appointment Number</th>
                    <th>From Date </th>
                    <th>From Time </th>
                    <th>To Date</th>
                    <th>To Time </th>
                    <th>Meeting Description</th>
                    <th>Agenda</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="appointment: ${listAppointments}">
                  
                    <td th:text="${appointment.appointmentNumber}">Appointment Number</td>
                    <td th:text="${#dates.format(appointment.fromDate,'dd-MM-YYYY')}">From Date </td>
                    <td th:text="${appointment.fromTime}">From Time</td>
                    <td th:text="${#dates.format(appointment.toDate,'dd-MM-YYYY')}">To Date </td>
                    <td th:text="${appointment.toTime}">To Time</td>
                    <td th:text="${appointment.meetingDescription}">Meeting Description</td>
                    <td th:text="${appointment.agenda}">Agenda</td>
                     <td><button type="button" class="btn btn-primary" th:onclick="|window.location.href='/appointmentView/${appointment.appointmentNumber}'|"> View</button>
                     <button type="button" class="btn btn-info" th:onclick="|window.location.href='/appointmentEdit/${appointment.appointmentNumber}'|"> Edit</button>
                     <button type="button" class="btn btn-danger" th:onclick="|window.location.href='/appointmentDeleteForm/${appointment.appointmentNumber}'|" > Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
     </div>
</body>

</html>